.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.form {
  width: 500px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 28px 126px;
}

.form-header {
  font-size: 36px;
  color: dimgray;
}

.input-group {
  position: relative;
  margin-top: 50px;
}

.email {

}

.password {

}

.submit {
  margin-top: 50px;
}

.form hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.registration-redirect {
  display: flex;
  justify-content: space-between;
}
