.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.navbar {
  display: flex;
  align-items: center;
  height: 55px;
  width: 100%;
  max-width: 1200px;
}

.navbar-link {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: 18px;
}

.logo {
  width: 35px;
  max-width: 100%;
}

.user-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.user-avatar {
  margin-right: 5px;
}
