@import "~@angular/material/theming";
@import "~src/assets/layout";

.nav {
  display: flex;
  align-items: baseline;
  background-color: white;
  color: $dark-primary-text;
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  &__links {
    display: flex;
    margin-left: 25px;
  }

  &__link {
    margin-left: 25px;
  }

  &__link.active {
    opacity: .6;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
