.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  background: white;
  width: 500px;
  padding: 30px 100px;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);

  &__header {
    margin-bottom: 20px;
    font-size: 1.6rem;
    text-align: center;
    opacity: .5;
  }

  &__button {
    width: 100%;
  }

  &__footer {
    width: 100%;
  }
}

:host ::ng-deep .form__header p {
  margin-top: 0;
}

:host ::ng-deep .form__button button {
  width: 100%;
  margin: 10px 0;
  height: 50px;
}

:host ::ng-deep .form .mat-form-field-underline {
  width: 0;
}


.mat-form-field {
  margin: 10px 0;
  width: 100%
}

.mat-icon {
  cursor: pointer;
}
