@import "~@angular/material/theming";

.manufacturer {
  &__name {
    display: flex;
    align-items: center;
    line-height: 15px;



    &--editable {
      border-bottom: 1px solid map-get($mat-blue, 300);
    }
  }

  .mat-expansion-panel-header-description {
    justify-content: flex-end;
  }
}
