@import "~@angular/material/theming";
@import "../../assets/layout";

.nav {
  display: flex;
  align-items: baseline;
  background-color: white;
  color: $dark-primary-text;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  box-shadow: 0 0 5px $black-12-opacity;

  &__links {
    display: flex;
    margin-left: 25px;
  }

  &__link {
    margin-left: 25px;
  }

  &__link.active {
    opacity: .6;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__logo {
    width: 50px;
  }
}
